/*
 * Banner
 */

.banner {
    background-color: #000;
    background-image: url(../img/alley.jpg);
    background-size: cover;
    margin: 3em 0 0 0;
}

.banner .inner {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.2);
}

.banner .title {
    color: #fff;
    margin: 0;
}