/*
 * Content
 */

body {
    margin: 0;
}

.content {
    padding: 1em;
}

.content img {
    display: block;
    margin: 0 0 1rem 0;
    max-width: 100%;
}

.content .panel {
    background-color: #f9f9f9;
    margin: 0 0 1rem 0;
    padding: 1em;
}
   
.content > *:last-child,
.content .panel *:last-child {
    margin-bottom: 0;
}


/* 48em = 768px */

@media (min-width: 48em) {
    
    .content {
        margin: 0 auto;
        max-width: 64em;
        overflow: hidden;
        padding: 2em;
    }
    
    .content .panel {
        padding: 2em;
    }

    .content .row {
        clear: both;
        margin: 0 -1em 0 -1em;
    }

    .content .col {
        box-sizing: border-box;
        float: left;
        padding: 0 1em;
    }

    /* width helpers */

    .content .w1of1 { width: 100%; }
    .content .w1of2 { width: 50%; }
    .content .w1of3 { width: 33.33333%; }
    .content .w2of3 { width: 66.66666%; }
    .content .w1of4 { width: 25%; }
    .content .w3of4 { width: 75%; }
    .content .w1of5 { width: 20%; }
    .content .w2of5 { width: 40%; }
    .content .w3of5 { width: 60%; }
    .content .w4of5 { width: 80%; }

    /* height helpers */

    .content .h1of1 { height: 100%; }
    .content .h1of2 { height: 50%; }
    .content .h1of3 { height: 33.33333%; }
    .content .h2of3 { height: 66.66666%; }
    .content .h1of4 { height: 25%; }
    .content .h3of4 { height: 75%; }
    .content .h1of5 { height: 20%; }
    .content .h2of5 { height: 40%; }
    .content .h3of5 { height: 60%; }
    .content .h4of5 { height: 80%; }
}