/*
 * Section
 */

html,
body {
    height: 100%;
    margin: 0;
}

.section {
    box-sizing: border-box;
    padding: 1em;
}

.section.red {
    background-color: #e95b4b;
}

.section.blue {
    background-color: #7bc1eb;
}

.section img {
    display: block;
    margin: 0 0 1rem 0;
    max-width: 100%;
}

.section.fit-height {
    height: 100%;
}

.section .t {
    display: table;
    height: 100%;
    width: 100%;
}

.section .tc {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.section.fit-widescreen {
    padding-top: 56.25%;
    position: relative;
}

.section.fit-widescreen .inner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.section .panel {
    background-color: #f9f9f9;
    margin: 0 0 1rem 0;
    padding: 1em;
}
   
.section > *:last-child,
.section .panel *:last-child {
    margin-bottom: 0;
}


/* 48em = 768px */

@media (min-width: 48em) {
    
    .section {
        margin: 0 auto;
        max-width: 64em;
        overflow: hidden;
        padding: 2em;
    }
    
    .section.fit-widescreen,
    .section.fit-width {
        max-width: 100%;
    }
    
    .section .panel {
        padding: 2em;
    }

    .section .row {
        clear: both;
        margin: 0 -1em 0 -1em;
    }

    .section .col {
        box-sizing: border-box;
        float: left;
        padding: 0 1em;
    }

    /* width helpers */

    .section .w1of1 { width: 100%; }
    .section .w1of2 { width: 50%; }
    .section .w1of3 { width: 33.33333%; }
    .section .w2of3 { width: 66.66666%; }
    .section .w1of4 { width: 25%; }
    .section .w3of4 { width: 75%; }
    .section .w1of5 { width: 20%; }
    .section .w2of5 { width: 40%; }
    .section .w3of5 { width: 60%; }
    .section .w4of5 { width: 80%; }

    /* height helpers */

    .section .h1of1 { height: 100%; }
    .section .h1of2 { height: 50%; }
    .section .h1of3 { height: 33.33333%; }
    .section .h2of3 { height: 66.66666%; }
    .section .h1of4 { height: 25%; }
    .section .h3of4 { height: 75%; }
    .section .h1of5 { height: 20%; }
    .section .h2of5 { height: 40%; }
    .section .h3of5 { height: 60%; }
    .section .h4of5 { height: 80%; }
}