/*
 * Themes
 */

body {
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    line-height: 33px;
    color: #222;
    background-color: #f8f8f8;
}

h1,
h2,
p,
img {
    margin: 0 0 20px 0;
}

img {
    display: block;
    max-width: 100%;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header li {
    float: left;
}

.header li a {
    display: block;
    padding: 0 20px 0 0;
    color: #999;
    text-decoration: none;
}

.header li a:hover {
    color: #fff;
}

/* backgrounds */

.bg1 {
    height: 400px;
    background-image: url('../img/alley.jpg');
    background-position: center;
    background-size: cover;
    background-color: #000;
}

/* colours */

.white { background-color: #fff; }
.grey { background-color: #333; }
.red { background-color: #DF5A49; }
.orange { background-color: #E27A3F; }
.yellow { background-color: #EFC94C; }
.green { background-color: #45B29D; }
.blue { background-color: #334D5C; }

/* debugging the grid */

.debug.row,
.debug .row {
    margin-bottom: 10px;
}

.debug .col {
    background-color: rgba(255, 255, 255, 0.2);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33000000', endColorstr='#33000000', GradientType=0);
	background-clip: content-box;
}