/*
    Banner
    css styles specific to this module only
*/

.banner .col {
    padding-top: 20px;
    padding-bottom: 20px;
}

.banner h1 {
    padding-top: 60px;
    margin-top: -60px;
}

.banner.home h1 {
    padding-top: 300px;
    margin-top: -300px;
}

.banner.home {
    background-image: url('../../images/alley.jpg');
    background-position: 49% 49%;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner.home .col {
    padding-top: 300px;
    padding-bottom: 50px;
    text-shadow: 1px 1px 7px #000000;
    filter: dropshadow(color=#000000, offx=1, offy=1);
}