/*
    Navigation
    css styles specific to this module only
*/

.nav {
    position: fixed;
    width: 100%;
}

.nav ul {
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline-block;
}

.nav a {
    display: block;
    padding: 10px 15px 15px 15px;
}