/*
    Section
    css styles specific to this module only
*/

.section {
    padding: 15px 20px 20px 20px;
    max-width: 960px;
    margin: 0 auto;
}

.section .panel {
    padding: 20px 20px 10px 20px;
}