/*
    Layout
    css for the grid layout
*/

.row {
    display: table;
    border-spacing: 20px 0;
    margin: 0 -20px;
}

.col {
    display: table-cell;
    vertical-align: top;
    width: 1%;
}

.w1of1 { width: 100%; }
.w1of2 { width: 50%; }
.w1of3 { width: 33.33333%; }
.w2of3 { width: 66.66666%; }
.w1of4 { width: 25%; }
.w3of4 { width: 75%; }
.w1of5 { width: 20%; }
.w2of5 { width: 40%; }
.w3of5 { width: 60%; }
.w4of5 { width: 80%; }

/* 20em = 320px */

@media (max-width: 20em) {
    .flow-xs.row,
    .flow-xs .row,
    .flow-xs .col {
        display: block;
        width: auto;
        margin: 0;
    }
}

/* 30em = 480px */

@media (max-width: 30em) {
    .flow-s.row,
    .flow-s .row,
    .flow-s .col {
        display: block;
        width: auto;
        margin: 0;
    }
}

/* 48em = 768px */

@media (max-width: 48em) {
    .flow-m.row,
    .flow-m .row,
    .flow-m .col {
        display: block;
        width: auto;
        margin: 0;
    }
}

/* 64em = 1024px */

@media (max-width: 64em) {
    .flow-l.row,
    .flow-l .row,
    .flow-l .col {
        display: block;
        width: auto;
        margin: 0;
    }
}

/* 80em = 1280px */

@media (max-width: 80em) {
    .flow-xl.row,
    .flow-xl .row,
    .flow-xl .col {
        display: block;
        width: auto;
        margin: 0;
    }
}