/*
    Layout
    css for the grid layout
*/

.row {
    display: table;
    border-spacing: 20px 0;
    margin: 0 -20px;
}

.col {
    display: table-cell;
    vertical-align: top;
    width: 1%;
}

.w1of1 {
    width: 100%;
}

/* 20em (320px) */

@media (max-width: 20em) {
    .flow-xs.row,
    .flow-xs .row,
    .flow-xs .col {
        display: block;
        width: auto;
        margin: 0;
    }
}

/* 30em (480px) */

@media (max-width: 30em) {
    .small.row,
    .flow-s .row,
    .flow-s .col {
        display: block;
        width: auto;
        margin: 0;
    }
}

/* 48em (768px) */

@media (max-width: 48em) {
    .flow-m.row,
    .flow-m.row,
    .flow-m .col {
        display: block;
        width: auto;
        margin: 0;
    }
}

/* 68.75em (1100px) */

@media (max-width: 68.75) {
    .flow-l.row,
    .flow-l.row,
    .flow-l .col {
        display: block;
        width: auto;
        margin: 0;
    }
}

/* 81.25em (1300px) */

@media (max-width: 81.25em) {
    .flow-xl.row,
    .flow-xl.row,
    .flow-xl .col {
        display: block;
        width: auto;
        margin: 0;
    }
}